<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [2]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [14]:
# Exercise 10: Insert a markdown cell to list Objectives

__Objectives:__
- List of popular data science languages
- List of commonly used data science libraries 
- List of data science tools 
- Inserting code cell

In [3]:
# Exercise 3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [5]:
# Exercise 4: Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java
5. Scala
6. C++
7. JavaScript

In [ ]:
# Exercise 5: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras

In [11]:
# Exercise 6: Create a markdown cell with a table of Data Science tools

|Data Science Tools|
---
|MySQL|
|PostgreSQL|
|MongoDB|
|Apache SparkSQL|
|Apache Superset|
|Kubernetes|
---

In [7]:
# Exercise 7: Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

$ x^2 + y^2 = z^2\\ $
$ x_1 + y_1 = z_1 $

In [8]:
# Exercise 8: Create a code cell to multiply and add numbers

In [16]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# Exercise 9: Create a code cell to convert minutes to hours

In [12]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60 
print(hours)

3.3333333333333335

In [15]:
# Exercise 11: Create a markdown cell to indicate the Author's name

## Author
Sri Momitha Chiluveru